api_version: "1.0.0"
instrument:
  vendor: "Mock"
  model: "5"
  identifier: "Meter1"
  instrument_type: voltmeter
  description: "Mock Voltage Meter"
protocol:
  type: "Custom"
  name: "MockMultimeter"
channel_groups:
  - name: analog
    description: "Analog input channels"
    channel_parameter:
      name: channel
      type: int
      min: 1
      max: 8
      description: "Voltage meter channel number (1-8)"
    io_types:
      - name: stream 
        type: array 
        role: input
        description: "Voltage to set"
        suffix: stream
        unit: "V"
      - name: voltage
        type: float
        role: input
        description: "Measured DC voltage"
        suffix: voltage
        unit: "V"
      - name: sample_rate
        type: int
        role: setting
        description: "Sample rate of the channel"
        suffix: sample_rate
        unit: "Hz"
      - name: bins
        type: int
        role: setting
        description: "Number of bins to average for each data point"
        suffix: bins
      - name: slope
        type: float
        role: setting
        description: "Slope to adjust output reading sensitivity to input"
        suffix: slope
      - name: trigger_level
        type: float
        role: setting
        unit: V
        description: Trigger level
        suffix: trigger_level
io: []
commands:
  SET_SAMPLE_RATE:
    template: "SOUR:SAMPle:{analog}:{sample_rate}"
    description: "Set the sample rate"
    channel_group: analog
    parameters:
      - io: sample_rate
    outputs: []
  SET_BINS:
    template: "SOUR:BINS:{analog}:{bins}"
    description: "Set the number of bins to average for each data point"
    channel_group: analog
    parameters:
      - io: bins
    outputs: []
  SET_SLOPE:
    template: "SOUR:SLOPE:{analog}:{slope}"
    description: "Set the slope to adjust output reading sensitivity to input"
    channel_group: analog
    parameters:
      - io: slope
    outputs: []
  GET_SLOPE:
    template: "SOUR:SLOPE? {analog}"
    description: "Query slope for channel"
    channel_group: analog
    parameters: []
    outputs: [slope]
    query: true
  SET_TRIGGER_LEVEL:
    template: "TRIG:LEV:{analog}:{trigger_level}"
    description: "Set trigger level for channel"
    channel_group: analog
    parameters:
      - io: trigger_level
    outputs: []
  MEASURE_STREAM:
    template: "MEAS:VOLT:{analog}"
    description: "Set output voltage"
    channel_group: analog
    parameters: []
    outputs: [stream]
  GET_DATAPOINT:
    template: "MEAS:POINt:{analog}"
    description: "Measure a single data point"
    channel_group: analog
    parameters: []
    outputs: [voltage]
  GET_TRIGGER_LEVEL:
    template: TRIG:LEV? {analog}
    description: Query trigger level for channel
    parameters: []
    channel_group: analog
    outputs: [trigger_level]
    query: true
  RESET:
    template: "RESET"
    description: "resets the mock instrument"
    parameters: []
    outputs: []
